/* Note there a few "reset" styles given in reset.css. Review those before you begin */

:root{
    --primary-col: #971032;    /* main colour */
	--primary-alt: #472d36;    /* variant */
	--primary-on: #ffffff;     /* for text or icons */
	--secondary-col: #3399ff;
	--secondary-alt: #99ccff;
    --secondary-on: #000000;
    --rating: rgb(218, 165, 32);
    --pad-and-gap: 1em;
}

h1 {
    font-family: adonis-web;
    font-weight: 400;
    font-size:  2rem;
   
    padding-bottom: 20px;
    line-height: 2rem;
    text-align: center;
    font-style: normal;
    text-transform: none;
    margin-top: 20px;
    letter-spacing: 0em;

    
}
h3{
    font-family: adonis-web;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.4;
  
}
 h2{
    font-family: adonis-web;
    font-size: 1.2rem;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
 
    
}

.page-header {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    background-color: var(--primary-col);
    color: var(--primary-on);

}
.navigation #menu{
    display: none;
}
.menu{
    
    position: relative;
    display: inline-block;
}
.menu:hover .submenu{
    display: block;
}
.menubtn{

    color: rgb(8, 8, 8);
    padding: 1px;
    font-size: 16px;
    border: none;
}
.submenu{
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.submenu a{
    color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.submenu a:hover{
    background-color: #4b4b4b;
}

.filter-options{
    display: block;
    background-color:var(--primary-on);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px 0px 0px;
}
#filter{
    display: none;
}
.icon{
    color: var(--primary-on);
padding: 10px;
}
.iconfilter{
    color: var(--secondary-col);
    border: 1px solid;
    padding: 3px;
    margin-left: 20px;
    font-size: 0.7em;
}
#sort {
    width: 79%;
    padding-left: 10px;
    margin-left: 10px;
}

   

.menu a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.logo{
    grid-row: 1;
    grid-column: 1;
    width: 80px;
}
.nav-toggle{
    grid-row: 1;
    grid-column: 4;
}
.search{
    grid-row: 1 / 5;
}
.navigation{
    grid-row: 3 / spen 4;
    
}

.your-products{
    grid-row: 1;
    grid-column: 3;
    margin-top: 10px;
}
.filter-list{
    display: flex;
}
.rating {
    display: block;
    color: var(--rating);
}
.products, .page-header, .page-footer{
    padding: 0px 10px 0px 10px ;
}
.your-products{
    display: flex;
}

.pagination{
    text-align: center;
}
.pages{
    display: flex;
    justify-content: center;
}
.pages > li{
    margin: 4px;
}

.social, .legal{
    display: flex;
    justify-content: flex-end;
    margin: 5xp;
}
.copyright{
    text-align: center;
}

/* product design */
.product img{
    border-radius: 30px 30px 0px 0px;
    border-bottom: 1px solid #e3e3e3;
}
.product data{
  padding: 0 30px 0 30px ;

}
.product{
    background-color: var(--primary-on);
    border-radius: 30px;
    margin-bottom: 30px;
    }
.product header {
    padding: 0px 30px 0 30px;
}
.form{
    padding: 0px 30px 0 30px;
}
.bottons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--primary-col);
}
.bottons li {
    text-align: center;
    list-style: none;
}
.bottons li i{
  color: var(--primary-on);
}
.bottons li i:hover{
    color: #e2e2e2;
}
.variation ul li{
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0 0px 0 10px;
}
.variationfilter ul li{
    display: block;
    flex-wrap: wrap;
    padding: 0 10px 0 10px;
}
.show {
    margin-top: 10px;
    font-size: 0.8em;
    margin-left: 10px;
    display: inline-flex;
    width: 70%;
}
ins{
    color:var(--primary-col);
    font-size: 1.5em;   
}
.product p{
    text-align: center;
    padding: 10px 20px 10px 20px;
font-size: 0.8em;
line-height: 1rem;
}
#rating{
    color: var(--rating);
}
dt{
    font-size: 0.8em;
    font-weight: 900;
}


/* footer */

.page-footer{
    background-color:var(--secondary-on);
    color: var(--primary-on);
}

.social li i{
    color: var(--primary-on);
    align-items: center;
    font-size: 30px;

}
    /* default styles here for older browsers. 
       I tend to go for a 600px - 960px width max but using percentages
    */
    /* @media only screen and (min-width: 960px) {
        /* styles for browsers larger than 960px; */
     
    @media only screen and (min-width: 1440px) {
        /* styles for browsers larger than 1440px; */
        .page-header{
            display: grid;
            grid-template-columns: auto 1fr auto auto auto;
            background-color: var(--primary-col);
            color: var(--primary-on);
        }
        .nav-toggle{
            display: none;
        }
        .logo{
            grid-row: 1;
            grid-column: 1;
            width: 80px;
        }
        .nav-toggle{
            grid-row: 1;
            grid-column: 4;
        }
        .search{
            grid-row: 1 ;
            grid-column: 3;
        }
        .navigation{
            grid-row: 3 / spen 4;
            
        }
        .your-products{
            grid-row: 1 ;
            grid-column: 5;
        }
        .menu{
            display: flex;
        }
        .menu > li{
            display: flex;
        }
        .submenu .sublist{
            display: flex;
            padding-left: 0px;
        }
        .products{
            display: block;
        }
        .filter-options{
            display: flex;
            justify-content: space-between;
        }
    }
  
    @media only screen and (min-width: 2000px) {
        /* for sumo sized (mac) screens */
    }
   
   
    /* different techniques for iPad screening */
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
      /* For portrait layouts only */
      .products{
        display: grid;
        grid-template-columns: 100% auto;
        column-gap: var(--pad-and-gap);
         }

      .heading, .pagination, .filters {
         grid-column: 1 / span 2;
         
    }
    .results{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: var(--pad-and-gap);
    }
    h2{
        display: none;
    }
}
    

@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
 }
 @media only screen and (device-width: 768px) {
    /* default iPad screens */
 }