/* Note there a few "reset" styles given in reset.css. Review those before you begin */

:root{
    --primary-col: #971032;    /* main colour */
	--primary-alt: #472d36;    /* variant */
	--primary-on: #ffffff;     /* for text or icons */
	--secondary-col: #3399ff;
	--secondary-alt: #99ccff;
    --secondary-on: #000000;
    --rating: rgb(218, 165, 32);
    --pad-and-gap: 1em;
    --back-gradian: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(228,228,228,1) 0%, rgba(255,255,255,1) 100%); 
}

/* Header style */
.page-header {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    background-color: var(--primary-col);
    color: var(--primary-on);

}
header  a{
    color: var(--primary-col);
    text-decoration: none;
}

#find {
    width: 70%;
    margin-top: 15px;
    border-radius: 11px;
    margin-left: 19px;
    margin-bottom: 15px;
    text-align: center;
}
.menu a {
    color: white;
    
    text-decoration: none;
    font-size: 17px;
}

.navigation #menu{
    display: none;
}
.menu{
    
    position: relative;
    display: inline-block;
}


.menu:hover .submenu{
    display: contents;
}

.submenu{
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Filter style */
.filter-options{
    display: block;
    background-color:var(--primary-on);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px 0px 0px;
}
#filter{
    display: none;
}
.icon{
    color: var(--primary-on);

padding-top: 18px;
}
.iconfilter{
    color: var(--secondary-col);
    border: 1px solid;
    padding: 3px;
    margin-left: 20px;
    font-size: 0.7em;
}
#sort {
    width: 79%;
    padding-left: 10px;
    margin-left: 10px;
}

   


.logo{
    grid-column: 1;
    grid-row:1;
}
.logo img{
    width: 50px;
}
.nav-toggle{
    grid-column: 4;
    grid-row:1;
}

.search{
    grid-row: 1 / span 4;
}
.navigation{
    grid-row: 3 / spen 4;
    
}
/* Solid border */
hr.solid {
    border-top: 0.5px solid #bbb;
  }
.your-products{
    grid-row: 1;
    grid-column: 3;
    margin-top: 10px;
    position: absolute;
top: 10px;
right: 46px;
}
.filter-list{
    display: flex;
}
.hedin{
    display: none;
}
.rating {
    display: block;
    color: var(--rating);
}
.products, .page-header, .page-footer{
    padding: 0px 10px 0px 10px ;
}
.your-products{
    display: flex;
}

.pagination{
    text-align: center;
}
.pages{
    display: flex;
    justify-content: center;
}
.pages > li{
    margin: 4px;
}

.social, .legal{
    display: flex;
    justify-content: center;
    margin-top: 5xp;
}
.legal li a {
color: var(--primary-on);
padding-left: 20px;
}
.copyright{
    text-align: center;
}

/* product design */
.product img{
    border-radius: 30px 30px 0px 0px;
    border-bottom: 1px solid #e3e3e3;
}

.product{
    background-color: var(--primary-on);
    border-radius: 30px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
.product header {
    padding: 0px 30px 0 30px;
}
.form{
    padding: 0px 30px 0 30px;
}
del {
    display: block;
    text-align: center;
    font-size: 1em;
}
legend{
    color: var(--primary-col);
}
.bottons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--primary-col);
    border-radius: 0px 0 30px 30px;
}
.bottons li {
    text-align: center;
    list-style: none;
}
.bottons li i{
  color: var(--primary-on);
}
.bottons li i:hover{
    color: #e2e2e2;
}
.variation ul li{
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0 0px 0 10px;
}
.variationfilter ul li{
    display: block;
    flex-wrap: wrap;
    padding: 0 10px 0 10px;
}
.show {
    margin-top: 10px;
    font-size: 0.8em;
    margin-left: 10px;
    display: inline-flex;
    width: 70%;
}
ins{
    color:var(--primary-col);
    font-size: 1.5em;   
    display: block;
    text-align: center;
}
.product p{
    text-align: center;
    padding: 10px 20px 10px 20px;
font-size: 0.8em;
line-height: 1rem;
overflow: hidden;
height: 8.5em;
}
#rating{
    color: var(--rating);
}
dt{
    font-size: 0.8em;
    font-weight: 900;
}


/* footer */
.pages li {
    background: var(--primary-col);
    border-radius: 11px;
    width: 35px;
    border: 1px solid #ddd;
    color: #fff;
}
.pages li a {

    color: #fff;
}
.page-footer{
    background-color:var(--primary-col);
    color: var(--primary-on);
}
.social{
    padding-top: 10px;
}
.social li i{
    color: var(--primary-on);
    align-items: center;
    font-size: 30px;
    padding-left:10px ;

}
    /* default styles here for older browsers. 
       I tend to go for a 600px - 960px width max but using percentages
    */
    /* @media only screen and (min-width: 960px) {
        /* styles for browsers larger than 960px; */
     
    @media only screen and (min-width: 1440px) {
        /* styles for browsers larger than 1440px; */
        .page-header{
            grid-template-columns: auto 1fr auto auto auto;
        }
        .nav-toggle{
            display: none;
        }
        .search{
            grid-row: 1;
            grid-column: 3;
        }
        .navigation{
            grid-row: 1;
            grid-column: 4;
        }
        .your-products{
            grid-row: 1;
            grid-column: 5;
        }
        .menu{
            display: flex;
        }
        .menu > li{
            display: flex;
        }
        .submenu{
            display: flex;
            justify-content:space-between
        }
        .filter-list{
            display: flex;
        }
        .results{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        .subheading{
            grid-column-start: span 3;
        }
        .product {
            
            margin-left:10px;
            margin-right: 10px;
        }



    }
  
    @media only screen and (min-width: 2000px) {
        /* for sumo sized (mac) screens */
        .page-header{
            grid-template-columns: auto 1fr auto auto auto;
        }
        .nav-toggle{
            display: none;
        }
        .search{
            grid-row: 1;
            grid-column: 3;
        }
        .navigation{
            grid-row: 1;
            grid-column: 4;
        }
        .your-products{
            grid-row: 1;
            grid-column: 5;
        }
        .menu{
            display: flex;
        }
        .menu > li{
            display: flex;
        }
        .submenu{
            display: flex;
            justify-content:space-between
        }
        .filter-list{
            display: flex;
        }
        .results{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        .subheading{
            grid-column-start: span 3;
        }
        .product {
            
            margin-left:10px;
            margin-right: 10px;
        }

    }
   
   
    /* different techniques for iPad screening */
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
      /* For portrait layouts only */
      .products{
        display: grid;
        grid-template-columns: 49em auto;
        column-gap: var(--pad-and-gap);
         }
         
      .heading, .pagination, .filters {
         grid-column: 1 / span 2;
         
    }
    .filters {
    grid-column: 1 / span 2;
    margin-left: 32px;
    margin-bottom: 14px;
    }
    .results{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: var(--pad-and-gap);
        margin-left: 50px;
    }
    h2{
        display: none;
    }
}
    

@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
 }
 @media only screen and (device-width: 768px) {
    /* default iPad screens */
 }